{% extends 'base.html' %}

{% block head %}
<title>Change or Reset Password</title>
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px">
    <h3>Change Password</h3>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
</div>
<div class="container" style="margin-top: 50px">
    <h3>Reset Password</h3>
    <p><a href="{% url 'registration:reset_password' %}">Follow this link to reset your password.</a></p>
</div>


{% endblock %}