{% extends 'base.html' %}

{% block head %}
<title>Calderón Users</title>
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px">
    <h3>Calderón Users</h3>

    <p>The following list shows registered Calderón users.</p>

    <ul>
        {% for user in users %}
            <li>
                <a href="{% url 'registration:view_profile_with_primary_key' pk=user.pk %}">
                    {{ user.get_full_name }}
                </a>
                {% if not user in connections %}
                <a href="{% url 'registration:connections' operation='add' pk=user.pk %}">
                    <button type="button" class="btn btn-link">(Add Connection)</button>
                </a>
                {% else %}
                <a href="{% url 'registration:connections' operation='remove' pk=user.pk %}">
                    <button type="button" class="btn btn-link">(Remove Connection)</button>
                </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}