{% extends 'base.html' %}

{% block head %}
<title>Profile Page: {{user.username}}</title>
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 50px">
    <h3>Profile</h3>

    {% if change_password %}
    <p>{{ change_password }}</p>
    {% endif %}

    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email address: {{ user.email }}</p>
    {% if user == requesting_user %}
    <p>
        <a href="{% url 'registration:edit_profile' %}">Edit Profile</a> | <a
            href="{% url 'registration:change_password' %}">Change Password</a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'registration:view_profile' %}">View Your Own Profile Page</a>
    </p>
    {% endif %}
</div>

{% endblock %}